<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>locator usage of `express-yui`</title>

</head>
<body>

    <h1>header goes here for!</h1>

    <p>Tagline: {{tagline}}<p>

    <div id="child">{{{outlet}}}</div>

    <div id="content">
        Loading...
    </div>

    <script>{{{state}}}</script>

<script>
YUI_config.seed = [
//    'https://rawgithub.com/ekashida/yui3/perf-hooks-built/build/yui/yui-debug.js',
    'https://rawgithub.com/ekashida/yui3/perf-hooks-disable-populate-built/build/yui/yui-debug.js',
    'https://s.yimg.com/zz/combo?os/mit/td/td-server-my-0.1.548/asset-loader-988bf153.js',
    '/demo-0.0.1/loader-demo/loader-demo-debug.js'
];
</script>
<script src="https://rawgithub.com/ekashida/8679996/raw/c33fe707879bea8f2e00caca05cacf242db55e43/setup.js"></script>

    <script>
    app.yui.use('node', function (Y) {
        Y.one('body').append('<pre>' + JSON.stringify(YUI.Env.perf, null, 4) + '</pre>');
    });
    </script>

</body>
</html>
